<%= flash[:success] %>

<div class="container">

  <% if current_user %>
  <%  User.all.each do |user| %>
  <%= "#{user.name}, #{user.email}" %> </br>
    <% end %>
  <% else %>
      <%= "Welcome" %>
  <% end %>
</div>

<% if current_user %>
  <%= erb :sign_out %>
<% end %>