<div class="container">
  <p>Welcommen</p>
  <%# TODO: 
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>
  <p><% @users.each |member| %>
    <%= p member.name%> 
    <% end %>
  </p>
</div>
