  <form id="sign-out" method="post" action="/sessions/:id">
    <input type="hidden" name="_method" value="delete">
    <div class="submit" id="sign_out_btn"><input type="submit" value="Sign Out"></div>
  </form>


<%#{}"/sessions/#{session[:user_id]}" %>